
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPostDetail</title>

</head>
<body>

    @Html.Raw(ViewBag.post.GetType().GetProperty("Desc").GetValue(ViewBag.post))
</body>


</html>
<link rel='stylesheet' id='contact-form-7-css' href='/Content/Template/plugins/contact-form-7/includes/css/styles33a6.css?ver=4.9' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css' href='/Content/Template/plugins/woocommerce/assets/css/woocommerce-layout0226.css?ver=3.1.2' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css' href='/Content/Template/plugins/woocommerce/assets/css/woocommerce-smallscreen0226.css?ver=3.1.2' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css' href='/Content/Template/plugins/woocommerce/assets/css/woocommerce0226.css?ver=3.1.2' type='text/css' media='all' />
<link rel='stylesheet' id='popup-video-iframe-style-css' href='/Content/Template/themes/carspot/css/video_playera288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-style-css' href='/Content/Template/themes/carspot/stylea288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='/Content/Template/themes/carspot/css/bootstrapa288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-theme-css' href='/Content/Template/themes/carspot/css/stylea288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-theme-slug-fonts-css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic,900italic,900,300,300italic%7CPoppins:400,500,600&amp;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='et-line-fonts-css' href='/Content/Template/themes/carspot/css/et-line-fontsa288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css' href='/Content/Template/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min3c21.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css' href='/Content/Template/themes/carspot/css/animate.mina288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='flaticon-css' href='/Content/Template/themes/carspot/css/flaticona288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='flaticon2-css' href='/Content/Template/themes/carspot/css/flaticon2a288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='custom-icons-css' href='/Content/Template/themes/carspot/css/custom_iconsa288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-select2-css' href='/Content/Template/themes/carspot/css/select2.mina288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='nouislider-css' href='/Content/Template/themes/carspot/css/nouislider.mina288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-css' href='/Content/Template/themes/carspot/css/owl.carousela288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='owl-theme-css' href='/Content/Template/themes/carspot/css/owl.themea288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-custom-css' href='/Content/Template/themes/carspot/css/customa288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='toastr-css' href='/Content/Template/themes/carspot/css/toastr.mina288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-woo-css' href='/Content/Template/themes/carspot/css/woocommercea288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='minimal-css' href='/Content/Template/themes/carspot/skins/minimal/minimala288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox2-css' href='/Content/Template/themes/carspot/css/jquery.fancybox.mina288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='slider-css' href='/Content/Template/themes/carspot/css/slidera288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='carspot-menu-css' href='/Content/Template/themes/carspot/css/carspot-menua288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-media-css' href='/Content/Template/themes/carspot/css/responsive-mediaa288.css?ver=4.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='defualt-color-css' href='/Content/Template/themes/carspot/css/colors/defualt.css' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css' href='/Content/Template/plugins/js_composer/assets/css/js_composer.min3c21.css?ver=5.1.1' type='text/css' media='all' />