
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout_Theme_CarSpot.cshtml";
}


<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="main-content-area clearfix ">
                    <section class="section-padding no-top gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12  col-sm-12">
                                    <div class="form-grid">
                                        <center>
                                            <h3>Hakkımızda</h3>
                                            <hr />
                                        </center>
                                        <br />

                                        otomarket.com %100 yerli sermaye ile kurulmuş bir otomobil ilan platformudur.Sürekli kendini yenileyen bu platformda siz kullanıcıların kullanıcı deneyimini
                                        yükseltmek için çok çalışarak kurulan sistemimize her türlü motorlu taşıtınızın ilanınızı ücretsiz verebilirsiniz.

                                        Her türlü istek ve öneri ve şikayetlerinizi destek@otomarket.com adresimize iletebilirsiniz



                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
