
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_Layout_Theme_CarSpot.cshtml";
}

<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <section class="section-padding gray no-top ">
                    <div class="container">
                        <div class="row">
                            <br />
                            <br /><center>
    <h3>İletişim</h3>
    <hr />
</center>
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding commentForm">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div role="form" class="wpcf7" id="wpcf7-f345-p347-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                    
                                        <form action="/contact-us/#wpcf7-f345-p347-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="345">
                                                <input type="hidden" name="_wpcf7_version" value="4.9.1">
                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f345-p347-o1">
                                                <input type="hidden" name="_wpcf7_container_post" value="347">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-xs-12 clearfix">
                                                    <div class="form-group">
                                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Adınız"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Adresiniz"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Konu"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="30" rows="7" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Mesajınız"></textarea></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <input type="submit" value="Gönder" class="wpcf7-form-control wpcf7-submit btn-theme btn"><span class="ajax-loader"></span>
                                                </div>
                                            </div>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="contactInfo">
                                        <div class="singleContadds">
                                         
                                        </div>
                                        <div class="singleContadds phone">
                                            <i class="fa fa-phone"></i>
                                      
                                        </div>
                                        <div class="singleContadds">
                                            <i class="fa fa-envelope"></i>
                                            
                                            destek@otomarket.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
