
@{
    ViewBag.Title = "NasilParaKazanirim";
    Layout = "~/Views/Shared/_Layout_Theme_CarSpot.cshtml";
}
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="main-content-area clearfix ">
                    <section class="section-padding no-top gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9  col-sm-8 col-sm-offset-2">
                                    <div class="form-grid">
                                        <center>
                                            <h3>Nasıl Para Kazanılır</h3>
                                        </center>
                                        <br />

                                        <ul class="accordion">
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">İlan Vererek ve ilanınızı takip ederek</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>
                                                        İlanınız sizden önce sistemimiz tarafından 1 ay sonra kaldırılırsa ilan vererek kazandığınız tutar geri alınacaktır
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">Bloğa Yazı girerek?</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>

                                                    </p>
                                                </div>
                                            </li>
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">Girdiğiniz bir yazıya verilen yoruma cevap vererek?</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>

                                                    </p>
                                                </div>
                                            </li>
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">Mobil uygulamadan giriş yaparak</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>
                                                        Mobil uygulamayı indirip kullanıcı adı ve şifrenizle giriş yaparak
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>



                                    </div>
                                    <hr />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>İşlem</th>
                                                <th>Kazanılacak tutar</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>İlan Verme</td>
                                                <td>0.10 - 0.25  TL</td>
                                            </tr>
                                            <tr>
                                                <td>Bloğa Yazı Girme</td>
                                                <td>0.10-0.50 TL</td>
                                            </tr>

                                            <tr>
                                                <td>Yazınıza yapılan bir yoruma cevap verme</td>
                                                <td>0.10-0.30 TL</td>
                                            </tr>
                                            <tr>
                                                <td>Mobil Uygulamayı İndirme</td>
                                                <td>0.25 TL</td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

