
@{
   
    Layout = "~/Views/Shared/_Layout_Theme_CarSpot.cshtml";
}

<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="main-content-area clearfix ">
                    <section class="section-padding no-top gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9  col-sm-8 col-sm-offset-2">
                                    <div class="form-grid">
                                        <center>
                                            <h3>Yardım Destek Merkezimize Hoşgeldiniz</h3>
                                        </center>
                                        <br />

                                        <ul class="accordion">
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">Verdiğim ilanlar için ücret ödeyecek miyim?</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>
                                                        Hayır verdiğiniz ilan için hiç bir ücret ödemezsiniz
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">İstediğim kadar ilan verebilir miyim?</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>
                                                     Evet sınırsız ilan verebilirsiniz
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">İlan onay süreci nasıl işler?</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>
                                                      İlanınızı verdikten sonra tarafımızca kontrol edilerek uygun olması taktirde ilanınız yayınlanır.Onaylanmazsa neden onaylanmadığı hakkında bir mesaj alırsınız
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="">
                                                <h3 class="accordion-title"><a href="#">İlanımı mobil uygulama üzerinden verebilirmiyim</a></h3>
                                                <div class="accordion-content" style="display: none;">
                                                    <p>
                                                   Evet ilanınınızı mobil uygulamadan da verebilirsiniz.
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>